src/main/mule/features/sap-sfdc-migration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<salesforce-composite:composite-config name="Salesforce_Composite_Config" doc:name="Salesforce Composite Config" doc:id="695d33fd-9e1b-421c-863a-af80eb592bc7" >
		<salesforce-composite:oauth-user-pass-connection consumerKey="${salesforce.consumerkey}" consumerSecret="${salesforce.consumersecret}" username="${salesforce.username}" password="${salesforce.password}" securityToken="${salesforce.token}" />
	</salesforce-composite:composite-config>
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="392d8c9c-94d3-4f57-a1bd-bdbbf88180ff" sendCorrelationId="NEVER" >
		<vm:queues >
			<vm:queue queueName="response_queue" />
		</vm:queues>
	</vm:config>
	<sub-flow name="sap-sfdc-flow" doc:id="f898f2c1-7f1e-4509-a048-e1037c770c6e" >
		<http:request method="GET" doc:name="Get ALL Business Partners from SAP System API" doc:id="94c4402d-895a-4650-b9de-82501e7e55a9" config-ref="HTTP_Request_configuration_SAP_System_API" path="/getAllBusinessPartners"/>
		<set-variable value="#[payload]" doc:name="allBusinessPartners" doc:id="97a8a035-db78-481e-8949-acd9a3d31174" variableName="allBusinessPartners"/>
		<http:request method="GET" doc:name="Get ALL Business Partner Addresses from SAP System API" doc:id="53bb1d04-807d-45e5-8719-79dc42927e25" path="/getAllBusinessPartnerAddresses" config-ref="HTTP_Request_configuration_SAP_System_API"/>
		<set-variable value="#[payload]" doc:name="allBusinessPartnerAddresses" doc:id="b018eee4-a488-4f5a-b016-01b337f8d4de" variableName="allBusinessPartnerAddresses"/>
		<ee:transform doc:name="sapCombinedData" doc:id="d240b27c-b2c8-410f-86ca-ff6c5632937a" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="sapCombinedData" ><![CDATA[%dw 2.0
output application/json
---
vars.allBusinessPartners map (value, index) -> {
	"Partner": value,
	"Address": (vars.allBusinessPartnerAddresses filter (value1, index) -> (value.BusinessPartner == value1.BusinessPartner))[0]
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="GET ALL Accounts from SFDC Sytem API" doc:id="6c798aaa-57f1-4ab4-ba70-92abb2c33830" config-ref="HTTP_Request_configuration_SFDC_System_API" path="/getAllAccounts" />
		<set-variable value="#[payload]" doc:name="sfdcAccounts" doc:id="2710f4e0-10ad-420a-b3b5-d1fc46a276a0" variableName="sfdcAccounts"/>
		<flow-ref doc:name="sap-sfdc-subflow" doc:id="de95c99f-3704-4cf1-bb3e-636892955c39" name="sap-sfdc-subflow"/>
		<vm:consume queueName="response_queue" doc:name="Consume" doc:id="631ed0d2-80e7-4495-b6c4-32e72d20e46a" config-ref="VM_Config" timeout="10" timeoutUnit="MINUTES"/>
	</sub-flow>
	<flow name="sap-sfdc-subflow" doc:id="5e2f9317-6e2f-4009-9cdc-a0b6c6c96891" >
		<ee:transform doc:name="Set payload to sapCombinedData" doc:id="2280df08-76ed-4486-87be-4db969033c06" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.sapCombinedData]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="migartion-batch-job" doc:id="bf189679-bbee-4d07-820e-267c1c893e55" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="65eb95bd-993d-4658-9ff9-f1ab6670ef11" >
					<ee:transform doc:name="Filter SFDC Accounts" doc:id="b2724648-e1c4-472f-bc23-244c076cb273" >
						<ee:message >
						</ee:message>
						<ee:variables >
							<ee:set-variable variableName="sfdcAccount" ><![CDATA[%dw 2.0
output application/json
var account = vars.sfdcAccounts filter (item,index) -> item.Business_Partner_id__c == payload.Partner.BusinessPartner and item.IsDeleted == "false"
---
if(!isEmpty(account)) account else null]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
					<choice doc:name="Choice" doc:id="0e91c1fc-6e1f-48a7-8c6b-9fec3ef783ae" >
						<when expression="#[vars.sfdcAccount != null]">
							<set-variable value="exsists" doc:name="status" doc:id="e6be6901-b9e2-4506-8bee-0b30b66dcdfc" variableName="status"/>
							<ee:transform doc:name="Add ContactId to payload" doc:id="c16e9647-c7db-40b1-8493-e25776b6b788" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload ++ {"ContactId": vars.sfdcAccount[0].Contacts[0].Id}]]></ee:set-payload>
								</ee:message>
							</ee:transform>
							<logger level="INFO" doc:name="Logger" doc:id="5c06147b-c9c9-43c0-b150-01af2ec911f2" />
						</when>
						<otherwise >
							<set-variable value="new" doc:name="status" doc:id="c75b4a1c-1a45-44ba-a559-1cbae7e6fcf0" variableName="status"/>
						</otherwise>
					</choice>
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="979a0cf6-4316-4e69-ad80-b01b054c167a" acceptExpression='#[if (vars.status == "new") true else false]'>
					<batch:aggregator doc:name="Batch Aggregator POST" doc:id="8beaf5ae-4651-4864-a993-d7d8f8dd2da8" size="75" preserveMimeTypes="true">
						<ee:transform doc:name="POST: Composite Graph Payload" doc:id="5d7d6393-d5d4-40e7-b15d-99a56bb51fce" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere" 
---
payload map (value, index) -> {
	"graphId": index +1,
	"compositeRequest": [
		{
			"url": "/services/data/v50.0/sobjects/Account",
			"body": {
			    "Business_Partner_id__c": payload[index].Partner.BusinessPartner,
			    "Name": if(!isEmpty(payload[index].Partner.FirstName) and !isEmpty(payload[index].Partner.LastName)) payload[index].Partner.FirstName ++ " " ++ payload[index].Partner.LastName else "Unknown",
			    "Industry": if(payload[index].Partner.Industry == "Ba") "Banking"
			     			else if (payload[index].Partner.Industry == "En") "Energy"
			     			else if (payload[index].Partner.Industry == "Fi") "Finance"
			     			else if (payload[index].Partner.Industry == "He") "Healthcare"
			     			else if (payload[index].Partner.Industry == "Re") "Retail"
			     			else "Other",
			    //"Type": if(!isEmpty(payload[index].Partner.BusinessPartnerType)) payload[index].Partner.BusinessPartnerType else "Other",
			    //"Country__c": payload[index].Partner.NameCountry,
			    "Last_Name__c": payload[index].Partner.LastName,
			    //"DOB__c": payload[index].Partner.BirthDate,
			    //"Contact_Language__c": if(!isEmpty(payload[index].Partner.CorrespondenceLanguage)) payload[index].Partner.CorrespondenceLanguage else "English",
			    "Blocked__c": payload[index].Partner.BusinessPartnerIsBlocked,
			    //"Language__c": payload[index].Partner.Language,
			    "Supplier__c": payload[index].Partner.Supplier,
			    "Identity_Number__c": payload[index].Partner.PersonNumber,
			    "Gender__c": if(payload[index].Partner.IsNaturalPerson == "X") 
			    					if (payload[index].Partner.IsMale == true) "Male" 
			    					else if (payload[index].Partner.IsFemale == true) "Female" 
			    					else "Unknown" 
			    			else "Organization",
			    "First_Name__c": payload[index].Partner.FirstName,
			    "integration__C": "yes"
			},
			"method": "POST",
			"referenceId": "REF" ++ index ++ "account"
		},
		
		{
			"url": "/services/data/v50.0/sobjects/Contact",
			"body": {
				"Street__c": payload[index].Address.StreetName,
				"House_Number__c": payload[index].Address.HouseNumber,
				"Business_Partner_id__c": payload[index].Address.BusinessPartner,
				"Postal_Code__c": payload[index].Address.PostalCode,
				//"Languages__c": payload[index].Address.Language,
				//"Time_Zone__c": payload[index].Address.AddressTimeZone,
				"City__c": payload[index].Address.CityName,
				"Country__c": payload[index].Address.Country,
				"Business_Partner_Address_id__c": payload[index].Address.AddressID,
				"LastName": if(!isEmpty(payload[index].Partner.FirstName) and !isEmpty(payload[index].Partner.LastName)) payload[index].Partner.FirstName ++ " " ++ payload[index].Partner.LastName else "Unknown"
				//"integration__C": "yes"
				} ++
			("AccountID": "@{" ++ "REF" ++ index ++ "account" ++ ".id}"),
			"method": "POST",
			"referenceId": "REF" ++ index ++ "contact"
		}
	]
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<salesforce-composite:execute-composite-graph doc:name="POST: DATA" doc:id="cb340847-28fe-4779-8896-2058d4fbfb79" config-ref="Salesforce_Composite_Config"/>
						<ee:transform doc:name="Set Payload to JSON" doc:id="d8b8c337-25fd-4eba-b705-c1f351f206d0" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="Log Payload" doc:id="06dea206-1507-43ba-9267-fc081caed2d2" message="payload"/>
					</batch:aggregator>
				</batch:step>
				<batch:step name="Batch_Step2" doc:id="1d95665f-5076-4802-9539-dd3757563e7f" acceptExpression='#[if (vars.status == "exsists") true else false]' >
					<batch:aggregator doc:name="Batch Aggregator PATCH" doc:id="81d715ea-ea24-40b1-b787-44534da815e1" size="75" preserveMimeTypes="true" >
						<ee:transform doc:name="PATCH: Composite Graph Payload" doc:id="18b49594-e746-468c-a3b1-07af0c37528f" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere" 
---
payload map (value, index) -> {
	"graphId": index +1,
	"compositeRequest": [
		{
			"url": "/services/data/v50.0/sobjects/Account/Business_Partner_id__c/"++ payload[index].Partner.BusinessPartner,
			"body": {
			    //"Business_Partner_id__c": payload[index].Partner.BusinessPartner,
			    "Name": if(!isEmpty(payload[index].Partner.FirstName) and !isEmpty(payload[index].Partner.LastName)) payload[index].Partner.FirstName ++ " " ++ payload[index].Partner.LastName else "Unknown",
			    "Industry": if(payload[index].Partner.Industry == "Ba") "Banking"
			     			else if (payload[index].Partner.Industry == "En") "Energy"
			     			else if (payload[index].Partner.Industry == "Fi") "Finance"
			     			else if (payload[index].Partner.Industry == "He") "Healthcare"
			     			else if (payload[index].Partner.Industry == "Re") "Retail"
			     			else "Other",
			    //"Type": if(!isEmpty(payload[index].Partner.BusinessPartnerType)) payload[index].Partner.BusinessPartnerType else "Other",
			    //"Country__c": payload[index].Partner.NameCountry,
			    "Last_Name__c": payload[index].Partner.LastName,
			    //"DOB__c": payload[index].Partner.BirthDate,
			    //"Contact_Language__c": if(!isEmpty(payload[index].Partner.CorrespondenceLanguage)) payload[index].Partner.CorrespondenceLanguage else "English",
			    "Blocked__c": payload[index].Partner.BusinessPartnerIsBlocked,
			    //"Language__c": payload[index].Partner.Language,
			    "Supplier__c": payload[index].Partner.Supplier,
			    "Identity_Number__c": payload[index].Partner.PersonNumber,
			    "Gender__c": if(payload[index].Partner.IsNaturalPerson == "X") 
			    					if (payload[index].Partner.IsMale == true) "Male" 
			    					else if (payload[index].Partner.IsFemale == true) "Female" 
			    					else "Unknown" 
			    			else "Organization",
			    "First_Name__c": payload[index].Partner.FirstName,
			    "integration__C": "yes"
			},
			"method": "PATCH",
			"referenceId": "REF" ++ index ++ "account"
		},
		if(!isEmpty(payload[index].ContactId))
		{
			"url": "/services/data/v50.0/sobjects/Contact/" ++ payload[index].ContactId,
			"body": {
				"Street__c": payload[index].Address.StreetName,
				"House_Number__c": payload[index].Address.HouseNumber,
				//"Business_Partner_id__c": payload[index].Address.BusinessPartner,
				"Postal_Code__c": payload[index].Address.PostalCode,
				//"Languages__c": payload[index].Address.Language,
				//"Time_Zone__c": payload[index].Address.AddressTimeZone,
				"City__c": payload[index].Address.CityName,
				"Country__c": payload[index].Address.Country,
				//"Business_Partner_Address_id__c": payload[index].Address.AddressID,
				"LastName": if(!isEmpty(payload[index].Partner.FirstName) and !isEmpty(payload[index].Partner.LastName)) payload[index].Partner.FirstName ++ " " ++ payload[index].Partner.LastName else "Unknown"
				//"integration__C": "yes"
				} ++
			("AccountID": "@{" ++ "REF" ++ index ++ "account" ++ ".id}"),
			"method": "PATCH",
			"referenceId": "REF" ++ index ++ "contact"
		} else
				{
			"url": "/services/data/v50.0/sobjects/Contact/" ++ "0037Q000008laoKQAQ",
			"body": {
				"Street__c": payload[index].Address.StreetName,
				"House_Number__c": payload[index].Address.HouseNumber,
				//"Business_Partner_id__c": payload[index].Address.BusinessPartner,
				"Postal_Code__c": payload[index].Address.PostalCode,
				//"Languages__c": payload[index].Address.Language,
				//"Time_Zone__c": payload[index].Address.AddressTimeZone,
				"City__c": payload[index].Address.CityName,
				"Country__c": payload[index].Address.Country,
				//"Business_Partner_Address_id__c": payload[index].Address.AddressID,
				"LastName": if(!isEmpty(payload[index].Partner.FirstName) and !isEmpty(payload[index].Partner.LastName)) payload[index].Partner.FirstName ++ " " ++ payload[index].Partner.LastName else "Unknown"
				//"integration__C": "yes"
				} ++
			("AccountID": "@{" ++ "REF" ++ index ++ "account" ++ ".id}"),
			"method": "PATCH",
			"referenceId": "REF" ++ index ++ "contact"
		}  
		
	]
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<salesforce-composite:execute-composite-graph doc:name="PATCH: DATA" doc:id="20c6504f-3656-4106-a614-547a503f6e34" config-ref="Salesforce_Composite_Config" />
						<ee:transform doc:name="Set Payload to JSON" doc:id="506d6944-3857-4b02-bdf7-cb69a0e4c99d" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="Log Payload" doc:id="60b77604-22e5-4785-9033-38474c328e6b" message="payload" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<ee:transform doc:name="Final Payload" doc:id="1d3ead6d-7ecc-48ce-9c41-3bba0fd23822" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<vm:publish doc:name="Publish" doc:id="c7e55a80-c828-44af-bf21-6d3f98cfbacd" config-ref="VM_Config" queueName="response_queue" timeout="10" timeoutUnit="MINUTES"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
