src/main/mule/inteface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="lu-sl-sap-sfdc-main">
        <http:listener path="${https.path}" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="log-apikit-entry" doc:id="822742fc-8315-4981-89e0-02952d9ffa61" name="log-apikit-entry" />
		<apikit:router config-ref="lu-sl-sap-sfdc-config" />
		<flow-ref doc:name="log-apikit-exit" doc:id="1daf51a5-64d9-49f9-a383-a0f07f7aeb8d" name="log-apikit-exit" />
    </flow>
    <flow name="get:\sapToSfdcMigration:lu-sl-sap-sfdc-config">
		<flow-ref doc:name="sap-sfdc-migration-subflow" doc:id="d375a84a-6bbd-4a39-b86a-752637d86ae1" name="sap-sfdc-migration-subflow"/>
    </flow>
</mule>
